h1 {
	color: #197b5e;
  font-weight: bold;
}


label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

input[type="submit"] {
  font-size: 20px;
  background-color: #197b5e;
  border: 2px #197b5e solid;
  color: white; 
  border-radius: 5px;
  height: 75px;
}

 a[href="#"] {
  font-size: 18px;
  background-color: #838383;
  border: 2px #838383 solid;
  color: white; 
  border-radius: 5px;
  height: 75px;
 }


input[type="submit"]:hover {
  background-color: #838383;
  border: 2px #838383 solid;
  cursor: pointer;
}

a[href="#"]:hover {
  background-color: #197b5e;
  border: 2px #197b5e solid;
  cursor: pointer;
}

input[type="email"] {
  border: 2px #197b5e solid;
}

#specialwrapper{
  min-height: 76%;
  position: relative;
}

#email, #school, #firstName, #lastName, #company {
  border: 2px #606060 solid;
  border-radius: 5px;
}
