body{
	
}
a{
	color:#197b5e;
}
a:hover{
	color:#3de8b6;
}

.colorback{
	background-color: #3de8b6;
	border: 2px solid #3de8b6;
}

/*
.blockleft{
	border-bottom: 2px solid #3de8b6;
	border-left: 2px solid #3de8b6;
	min-height: 500px;
}

.blockright{
	border-right: 2px solid #3de8b6;
	border-bottom: 2px solid #3de8b6;
	border-right: 2px solid #3de8b6;
	min-height: 200px;
}
*/

.heading{
	color: #197b5e;
	text-decoration: underline;
}

input[type="submit"] {
  background-color: #009999;
  border: 2px #009999 solid;
  color: white; 
  text-align: center;
  width: 50px;
  height: 35px;
}