input[type="submit"] {
  background-color: #197b5e;
  border: 2px #197b5e solid;
  color: white; 
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  width: 120px;
  height: 50px;
}

input[type="submit"]:hover {
  background-color: #838383;
  border: 2px #838383 solid;
  cursor: pointer;
}

h2 {
 color: #197b5e;
}

#description,
#datepicker,
#time,
#attendees, 
#location,
#title {
  border: 2px #606060 solid;
  border-radius:5px;
}

label{
  font-family: 'Roboto Slab', 'Arial';
  font-size: 20px;
}