#leftSide{
  min-height: 400px;
  border-right: 2px solid gray;
  
  
}

.create_page{
	padding-top: 40px;
}

input[type="submit"] {
  background-color: #197b5e;
  border: 2px #197b5e solid;
  color: white; 
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 35px;
}

input[type="submit"]:hover {
  background-color: #838383;
  border: 2px #838383 solid;
  cursor: pointer;
}

.lower{
  margin-top: 40px;
}