ul {
  list-style-type: none;
}


a[href="#"] {
  color: white;
  font-size: 13px;
  background-color: #838383;
  border-color: #838383;
  border-radius: 5px;
}

a[href="#"]:hover {
  color: white;
  background-color: #197b5e;
  border-color: #197b5e;
  border-radius: 5px;
  text-align: center;
}

input[type="button"] {
  background-color: #197b5e;
  border: 2px #197b5e solid;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  height: 50px;
  width: 75px;
}

input[type="button"]:hover {
  background-color: #838383;
  border: 2px #838383 solid;
  cursor: pointer;
}

input[type="submit"] {
  width: 75px;
  height: 50px;
  font-size: 13px;
}

h1 {
  color: #197b5e;
}

#specialwrappereditgroup{
  min-height:76%;
}

li {
  list-style-type: none;
}