a{
  color: #197b5e;
}

.error {
  color: red;
}

.button{
  background-color: #197b5e;
  border-color: #3de8b6;
}

.button:hover{
  background-color: #838383;
  border-color: #838383;
}

.fullwidth {
  left:0;
  right:0;
  min-width:100%;
}

#fullwidthindexdiv{
  left: 0;
  right: 0;
  top:0;
  height:450px;
  border:none;
  padding-top: 20px;
  background-image: url('../img/clockworksbw.png');
  border-bottom: 10px #3de8b6 solid;
}

.indexhead{
  background-color:rgba(61,232,182,.3);
  text-align: center;
  color:white;
  width: 270px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size:80px;
}

.indexsub{
  background-color:rgba(61,232,182,.3);
  text-align: center;
  max-width: 770px;
  left: 50%;
  color:white;
  padding:5px;
}

h1 {
  color: #197b5e;
}

label {
  font-size: 14px;
  color: #197b5e;
}

#myModal {
  border: 5px #197b5e solid;
}



/*Begin contact stuff, yo*/
#contactbox{
  padding:30px 10px 10px 10px;
}

.messageinput{
  font-size: 20px;
  line-height: 24px;
  /*border: 2px solid #740000!important;*/
  width:95%;
  height:40px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.messageinputtextarea{
  padding-top: 10px;
  height: 120px;
  border-radius: 5px;
  border: #606060 solid 2px;
  width:100%;
  font-family: 'Roboto Slab';
  font-size:0.875rem;
}

/*#submitbutton{
  width: 100px;
  height: 40px;
  border: 2px solid #740000!important;
  background-color: white;
  color: #1c1c1c;
}*/

#sentmessage{
  margin-bottom: -20px;
  visibility:hidden;
}

.formblock{
  
}

#alert{
  font-color:white;
}

/*End contact stuff, yo*/

#email, #password, #contactName {
  border: 2px #606060 solid;
  border-radius: 5px;
}


#login {
  background-color: white;
  height: 100%;
  /*border: 3px #000 solid;*/
  padding-bottom: 5px;
  /*border-radius: 2px;*/
}

img[src="img/logo-large.png"] {
  padding-bottom: 10px;
  width: 175px;

}

#specialwrapper{
  min-height: 79%;
  position: relative;
}


a[href="#"],a[href="createaccount.php"] {
  color: white;
  font-size: 20px;
  background-color: #197b5e;
  border-color: #197b5e;
  border-radius: 5px;
}

a[href="#"]:hover, a[href="createaccount.php"]:hover {
  color: white;
  background-color: #838383;
  border-color: #838383;
  border-radius: 5px;
  text-align: center;
}

input[name="login"] {
  width: 65px;
  height: 40px;
}

input[type="name"] {

}

