.fullwidth {
  left:0;
  right:0;
  min-width:100%;
}

#fullwidthindexdiv{
  left: 0;
  right: 0;
  top:0;
  height:450px;
  border:none;
  padding-top:110px;
}

.indexhead{
  background-color:rgba(0,0,0,.2);
  text-align: center;
  color:white;
  width: 270px;
  margin-bottom: 40px;
  font-size:80px;
}

.indexsub{
  background-color:rgba(0,0,0,.2);
  text-align: center;
  max-width: 770px;
  left: 50%;
  color:white;
  padding:5px;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #009999;
}

label {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  color: #009999;
}

#myModal {
  border: 5px #009999 solid;
}

input[type="submit"] {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #009999;
  border: 2px #009999 solid;
  color: white; 
  text-align: center;
  width: 50px;
  height: 35px;
}

input[type="submit"]:hover {
  background-color: #00CC99;
  border: 2px #00CC99 solid;
}

input[type="text"], input[type="password"] {
  border: 2px #606060 solid;
  border-radius: 5px;
}