.myProfile {
  color: #009999;
}

a[href="creategroup.php"], [href="createmeeting.php"] {
  font-size: 20px;
  color: #009999;
}

.boxcolumn{
  height: 450px;
  overflow-y: scroll;
  border: 2px #009999 solid;
}

.profileHeader {
  background-color: #009999;
  color: white;
}

.teamTitle {
  font-size: 24px;
  text-decoration: underline;
}

#groupNames {
  list-style-type: none;
}

hr {
  color: #009999;
  height: 5px;
}

img[src="img/clock.png"] {
  width: 35px;
  height: 35px;
}