.myProfile {
  color: #222222;
}

a[href="#"], [href="createmeeting.php"] {
  font-size: 20px;
  color: #197b5e;

}

.links {
  padding-top: 25px;
}

a:hover {
  color: #3de8b6;
}

h1 {
  color: #197b5e;
}

h3 a{
  padding-left: 10px;
}

.boxcolumn{
  height: 450px;
  overflow-y: scroll;
  overflow-x:hidden;
  border: 2px #197b5e solid;
}

.profileHeader {
  background-color: #197b5e;
  color: white;
  padding:10px;
}

.teamTitle {
  font-size: 24px;
  text-decoration: underline;
  padding-left:10px;
}

#groupNames {
  list-style-type: none;
}

hr {
  color: #009999;
  height: 5px;
}

img[src="img/clock.png"] {
  width: 45px;
  height: 35px;
  padding-left:10px;
  margin-top:3px;
  margin-left: 45px;
}

#createGroup {
  background-color: white;
  height: 100%;
  padding-bottom: 5px;
}

#addMembers, #groupName {
  border: 2px #606060 solid;
  border-radius: 5px;
}

#myModal {
  border: 5px #197b5e solid;
}

input[type="submit"] {
  background-color: #197b5e;
  border: 2px #197b5e solid;
  color: white; 
  border-radius: 5px;
  text-align: center;
  width: 75px;
  height: 35px;
}

input[type="submit"]:hover {
  background-color: #838383;
  border: 2px #838383 solid;
  cursor: pointer;
}
label {
  font-size: 20px;
}

#specialwrapperprofile{
  position:relative;
  min-height: 89%;
}